.main {
  padding-top: 161px;
}

.main__title {
  margin-bottom: 50px;
}

.main__cards-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1598px;
  margin: 0 auto;
}

.main__card:first-child .main__card-info {
  border-radius: 266px 0 0 0;
}

@media (max-width: 564px) {
  .main__card:first-child .main__card-info {
    border-radius: 0 0 0 0;
  }
}

.main__card {
  transition: all .3s ease;
  min-height: 400px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.main__card::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  opacity: 0;
  z-index: -1;
  max-height: 533px;
  height: 90%;
  object-fit: contain;
  transform: translateY(20px);
  transition: all .3s ease;
}

.main__card::before {
  content: '';
  position: absolute;
  z-index: 5;
  left: 2%;
  top: 45%;
  transition: all .3s ease;
  opacity: 0;
  font-size: 64px;
  color: #262626;
  font-family: "Lighthaus";
}

@media (max-width: 992px) {
  .main__card::before {
    font-size: 28px;
  }
}

.main__card:first-child::after {
  background: url("../../images/services-photos/services1.webp");
  background-repeat: no-repeat;
}

.main__card:first-child::before {
  content: '1.';
}

@media (max-width: 992px) {
  .main__card:first-child::before {
    top: 5%;
  }
}

.main__card:nth-child(2)::after {
  background: url("../../images/services-photos/services2.webp");
  background-repeat: no-repeat;
}

.main__card:nth-child(2)::before {
  content: '2.';
}

@media (max-width: 992px) {
  .main__card:nth-child(2)::before {
    top: 5%;
  }
}

.main__card:last-child::after {
  background: url("../../images/services-photos/services3.webp");
  background-repeat: no-repeat;
}

.main__card:last-child::before {
  content: '3.';
}

@media (max-width: 992px) {
  .main__card:last-child::before {
    top: 5%;
  }
}

.main__card:not(:last-child) {
  margin-bottom: 10px;
}

.main__card:hover.main__card::after {
  width: 804px;
  opacity: 1;
}

.main__card:hover.main__card::before {
  font-size: 26px;
  top: 5%;
  opacity: 1;
}

.main__card:hover .main__card-info {
  transform: translateX(-50%);
  border-radius: 0 0 0 0;
}

@media (max-width: 1487px) {
  .main__card:hover .main__card-info {
    transform: translateX(-40%);
  }
}

@media (max-width: 1315px) {
  .main__card:hover .main__card-info {
    transform: translateX(-30%);
  }
}

@media (max-width: 1150px) {
  .main__card:hover .main__card-info {
    transform: translateX(-20%);
  }
}

@media (max-width: 992px) {
  .main__card:hover .main__card-info {
    transform: translateX(-10%);
  }
}

@media (max-width: 768px) {
  .main__card:hover .main__card-info {
    transform: translateX(0%);
  }
}

.main__card:hover .main__card-btn {
  opacity: 1;
  user-select: auto;
  pointer-events: auto;
  margin-top: 30px;
}

.main__card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(251, 251, 251, 0.8);
  backdrop-filter: blur(35px);
  padding: 75px 90px;
  transition: all .3s ease;
  max-width: 794px;
  width: 100%;
}

@media (max-width: 992px) {
  .main__card-info {
    backdrop-filter: blur(10px);
  }
}

@media (max-width: 768px) {
  .main__card-info {
    backdrop-filter: blur(5px);
    padding: 40px 60px;
  }
}

@media (max-width: 564px) {
  .main__card-info {
    padding: 15px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.main__card-title {
  font-size: 28px;
  color: #445658;
  font-family: "Lighthaus";
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 992px) {
  .main__card-title {
    font-size: 26px;
  }
}

.main__card-descr {
  font-size: 22px;
  color: #262626;
  font-family: "Gilroy Light";
  text-align: center;
}

@media (max-width: 992px) {
  .main__card-descr {
    font-size: 18px;
  }
}

@media (max-width: 376px) {
  .main__card-descr {
    font-size: 16px;
  }
}

.main__card-btn {
  font-size: 18px;
  color: #fff;
  font-family: "Gilroy Light";
  cursor: pointer;
  background-color: #445658;
  text-align: center;
  border-radius: 0px 0px 30px 0px;
  border: 1px solid #445658;
  transition: all .3s ease;
  padding: 10px 25px;
  border: none;
  outline: none;
  position: relative;
  z-index: 0;
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

@media (max-width: 992px) {
  .main__card-btn {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .main__card-btn {
    opacity: 1;
    user-select: auto;
    pointer-events: auto;
    margin-top: 30px;
  }
}

.main__card-btn::after {
  content: '';
  position: absolute;
  left: 0;
  top: 49%;
  background-color: #FBFBFB;
  height: 1px;
  width: 0;
  transition: all .3s ease;
  border-radius: 0px 0px 30px 0px;
  z-index: -1;
}

.main__card-btn:hover::after {
  width: 10%;
}

.consultation {
  margin-top: 120px;
}

.consultation__title {
  color: #445658;
}

.consultation__wrapper {
  display: grid;
  grid-template-columns: minmax(400px, 500px) minmax(500px, 930px);
  align-items: center;
  position: relative;
}

@media (max-width: 1290px) {
  .consultation__wrapper {
    grid-template-columns: minmax(320px, 330px) minmax(500px, 1025px);
  }
}

@media (max-width: 992px) {
  .consultation__wrapper {
    grid-template-columns: 1fr;
  }
}

.consultation__block {
  width: 100%;
  height: 100%;
}

.consultation__photo {
  object-fit: cover;
  max-width: 794px;
  width: 100%;
  height: 100%;
  border-radius: 0px 280px 0px 0px;
  position: absolute;
}

@media (max-width: 1290px) {
  .consultation__photo {
    max-width: 620px;
  }
}

.consultation__form-title {
  color: #fff;
  font-size: 28px;
  margin-bottom: 50px;
}

.consultation__block:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #445658;
  height: 95%;
  padding: 110px 0 110px 290px;
  max-width: 930px;
}

@media (max-width: 992px) {
  .consultation__block:last-child {
    max-width: 700px;
    min-width: none;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .consultation__block:last-child {
    padding: 110px 0 110px 0px;
  }
}

@media (max-width: 992px) {
  .consultation__block:first-child {
    display: none;
  }
}

.bg-modal {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  transition: all .3s ease;
}

.bg-modal.bg-modal_active {
  user-select: auto;
  pointer-events: auto;
  opacity: 1;
}

.modal-window {
  max-width: 724px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
}

@media (max-width: 768px) {
  .modal-window {
    padding: 0 10px;
  }
}

.modal-window__wrapper {
  background-color: #445658;
  height: 380px;
  width: 100%;
  display: grid;
  place-items: center;
}

.modal-window__photo {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 0 126px 0 0;
}

@media (max-width: 768px) {
  .modal-window__photo {
    display: none;
  }
}

.modal-window__form {
  margin-left: 264px;
}

@media (max-width: 768px) {
  .modal-window__form {
    margin-left: 0;
  }
}

.modal-window__form-title {
  font-size: 22px;
  color: #fff;
  font-family: "Gilroy Light";
  margin-bottom: 40px;
}

.modal-window__btn {
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-family: "Gilroy Light";
  border: 1px solid #fff;
  background-color: transparent;
  width: 100%;
  padding: 0 10px;
  text-align: center;
  border-radius: 0px 0px 30px 0px;
  padding: 10px 0;
  font-size: 18px;
  width: 100%;
  margin-top: 25px;
  outline: none;
  position: relative;
  z-index: 0;
  transition: all .3s ease;
}

.modal-window__btn::after {
  content: '';
  position: absolute;
  left: 0;
  top: 49%;
  background-color: #fff;
  height: 1px;
  width: 0;
  transition: all .3s ease;
  border-radius: 0px 0px 30px 0px;
  z-index: -1;
}

.modal-window__btn:hover::after {
  width: 20%;
}

@media (max-width: 564px) {
  .modal-window .form {
    max-width: 250px;
  }
}

.modal-window .form__input-box:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 564px) {
  .modal-window .form__input, .modal-window .form .form__input-label {
    font-size: 18px;
  }
}

.modal-window .form__btn {
  margin-top: 25px;
}

@media (max-width: 564px) {
  .modal-window .form__input-error {
    font-size: 14px;
  }
}
/*# sourceMappingURL=services.css.map */