@import 'vars'
@import 'mixins'

.main 
    background-image: url('../../images/bg-first-screen.webp') 
    background-repeat: no-repeat
    background-position: top
    background-size: cover
    max-width: 100vw
    width: 100%
    margin: 0 auto
    height: 100vh
    padding-top: 81px 
    &__content 
        +flex(flex-start, flex-start, column)
        padding-top: 6%
        @media (max-width: 564px)
            height: 100%
            justify-content: center
            padding-bottom: 200px
            align-items: center
    &__title 
        font-size: $fs-64
        color: $c-white
        max-width: 700px
        width: 100%
        transition: all 1s ease
        @media (max-width: 768px) 
            font-size: $fs-48
            margin-top: 80px
        @media (max-width: 564px) 
            font-size: $fs-36
            text-align: center
        @media (max-width: 400px) 
            font-size: $fs-28
    &__btn
        +btn-dark
        font-size: $fs-22
        padding: 10px 47px
        color: $c-white
        margin-top: 35px
        position: relative
        transition: all 1s ease
        z-index: 1
        &:hover
            color: $c-accent
        &:hover::after 
            width: 100%
        &::after 
            content: ''
            position: absolute
            z-index: -1
            bottom: 0
            left: 0
            background-color: $c-white
            height: 100%
            width: 0 
            transition: all .3s ease
            border-radius: 0 0 30px 0
        @media (max-width: 564px) 
            font-size: $fs-18
.about-us
    &__row
        width: 100% 
    &__row:first-child
        display: grid 
        grid-template-columns: repeat(2, minmax(450px, 1fr))
        @media (max-width: 992px)
            grid-template-columns: 1fr
    &__row:first-child &__block:first-child 
        display: grid 
        grid-template-columns: 2fr 4fr
        padding-top: 117px
        @media (max-width: 1500px) 
            grid-template-columns: 0fr 4fr
    &__row:first-child &__block:last-child 
        width: 100%
    &__main-info
        width: 100%
    &__title 
        margin-bottom: 37px
        @media (max-width: 1500px)
            margin-left: 15px
    &__descr 
        +text($fs-18, $c-black, $ff-gilroy-l)
    &__row:first-child &__descr-block
        padding: 55px 110px
        background-color: $c-lightgray
        @media (max-width: 576px)
            padding: 60px 20px
    &__row:first-child &__descr-block &__descr:first-child, &__row:last-child &__descr-block &__descr:nth-child(2)
        margin-bottom: 20.75px
    &__photo 
        height: 100%
        width: 100%               
    &__row:first-child &__photo
        border-radius: 0 0 250px 0 
        @media (max-width: 500px)
            border-radius: 0 0 10em 0     
    &__row:last-child &__photo
        border-radius: 230px 0 0 0 
        @media (max-width: 500px)
            border-radius: 10em 0 0 0
    &__row:last-child &__descr-block
        +flex(center, flex-start, column)
        height: 100%
        padding: 55px 110px
        background-color: $c-lightgray
        @media (max-width: 576px)
            padding: 60px 20px
    &__row:last-child
        display: grid 
        grid-template-columns: repeat(2, minmax(450px, 1fr))
        @media (max-width: 992px)
            grid-template-columns: 1fr
    &__row:last-child &__block:first-child
         @media (max-width: 992px)
             order: 2 
    &__row:last-child &__block:last-child 
        display: grid 
        grid-template-columns: 4fr 2fr
        @media (max-width: 1500px) 
            grid-template-columns: 4fr 0fr
    &__logo 
        margin-bottom: 20px
        font-size: $fs-26
        color: $c-accent
        font-family: $ff-lighthaus
.our-works
    margin-top: $m-section
.works__slider 
    margin: 0 auto
    width: 100%
    // max-height: 595px
    height: 100%
    padding-bottom: 20px !important
    user-select: none
    .swiper-photo 
        object-fit: cover
        height: 100%
        width: 100%
    .swiper-scrollbar 
        overflow: hidden
        width: 100%
    .swiper-scrollbar-drag
        background-color: $c-accent !important
.steps 
    margin-top: $m-section
    &__accordion
        max-width: 1598px
        margin: 0 auto
        padding: 0 15px
        counter-reset: accordItem
    &__item
        position: relative
        &::after
            content: ''
            position: absolute
            bottom: -20px
            left: 0
            width: 100%
            height: 1px
            background-color: #D8D8D8 
        &:not(:last-child) 
            margin-bottom: 40px
    &__item-header
        height: 70px
        width: 100%
        +flex(space-between, center, row)
        cursor: pointer
        position: relative
        @media (max-width: 564px)
                height: 50px
        &::after
            counter-increment: accordItem 
            content: counter(accordItem) '.'
            display: grid
            place-items: center
            background-color: transparent
            height: 70px
            width: 50px
            position: absolute
            left: 0
            +text($fs-36, $c-black, $ff-lighthaus)
            @media (max-width: 564px)
                font-size: $fs-26
            
    &__item-name
        +text($fs-28, $c-black, $ff-lighthaus)
        margin-left: 117px
        @media (max-width: 564px)
            font-size: $fs-18
            margin-left: 80px
            margin-right: 10px
    &__item-arrow
        stroke: $c-black
        transition: all .3s ease
        min-height: 25px
        min-width: 25px
    &__item-body 
        display: grid 
        transform: translateY(-20px) 
        opacity: 0
        grid-template-columns: repeat(2, minmax(400px, 1fr))
        grid-gap: 50px
        margin-top: 0px
        transition: all .3s ease
        max-height: 0
        overflow: hidden
    &__item-descr 
        max-width: 633px
        width: 100%
    &__item-text 
        +text($fs-22, $c-black, $ff-gilroy-l)
        @media (max-width: 564px)
            font-size: $fs-18
    &__item-descr &__item-text:not(:last-child) 
        margin-bottom: 20px   
    &__item-photo
        object-fit: cover
        width: 100% 
        border-radius: 10em 0 0 0
        @media (max-width: 500px)
            border-radius: 6em 0 0 0
    &__item.steps__item_active &__item-body
        transform: translateY(0px) 
        max-height: 600px
        opacity: 1
        overflow: visible
        margin-top: 40px
    &__item.steps__item_active &__item-name 
        color: $c-accent
    &__item.steps__item_active &__item-arrow
        stroke: $c-accent
        transform: rotate(45deg)
.order 
    margin-top: $m-section 
    &__cards
        width: 100%
        height: 100%
        display: flex
    &__card 
        padding: 90px 0
        width: 10%
        height: 655px
        background-color: $c-accent
        list-style-type: none
        display: grid
        grid-template-columns: 1fr
        border-left: 1px solid $c-white
        border-right: 1px solid $c-white
        transition: all .3s ease
        overflow: hidden
        justify-content: center
        @media (max-width: 568px) 
            padding: 50px 0
        @media (max-width: 992px) 
            height: 964px
        @media (max-width: 768px) 
            height: 905px
        @media (max-width: 600px) 
            height: 855px
        @media (max-width: 564px) 
            height: 744px
    &__card:nth-child(2)
        border-right: none
        border-left: none
    &__card-text 
        margin-top: 35px
        position: absolute
        opacity: 0
        user-select: none
        transition: all .3s ease 
    &__card-info 
        position: relative
    &__card &__card-descr:first-child
        margin-bottom: 12px
    &__card-descr 
        max-width: 480px
        +text($fs-22, $c-black, $ff-gilroy-l)
        @media (max-width: 992px) 
            max-width: 100%
        @media (max-width: 768px) 
            font-size: $fs-18
    &__card-title 
        +text($fs-26, $c-white, $ff-gilroy-l)
        transform: rotate(-90deg)
        margin: 0 auto
        margin-top: 70px
        max-height: 30px
        width: auto
        transition: all .3s ease
        @media (max-width: 568px) 
            font-size: $fs-22
    &__card-btn 
        border: none
        +btn-dark
        font-size: $fs-22
        padding: 10px 47px
        color: $c-white
        margin-top: 35px
        position: relative
        transition: all 1s ease
        z-index: 1
        margin-bottom: 15px
        display: none
        &:hover
            color: $c-accent
        &:hover::after 
            width: 100%
        &::after 
            content: ''
            position: absolute
            z-index: -1
            bottom: 0
            left: 0
            background-color: $c-white
            height: 100%
            width: 0 
            transition: all .3s ease
            border-radius: 0 0 30px 0
        @media (max-width: 564px) 
            font-size: $fs-18
    &__card.order__card_active  
        width: 100%
        background-color: $c-lightgray
        grid-template-columns: minmax(300px,480px) minmax(400px,605px)
        gap: 150px
        @media (max-width: 1300px) 
            gap: 50px
        @media (max-width: 992px) 
            grid-template-columns: 1fr
        @media (max-width: 768px) 
            gap: 0
    &__card.order__card_active &__card-title 
        transform: rotate(0deg)
        margin-top: 0px
        +text($fs-26, $c-black, $ff-lighthaus)
    &__card.order__card_active &__card-btn
        display: block
    &__slider
        max-width: 600px
        max-height: 520px
        height: 100%
        width: 0
        opacity: 0
        user-select: none
        pointer-events: none
        justify-self: center
    &__card.order__card_active &__slider 
        opacity: 1
        user-select: auto
        pointer-events: auto
        width: 100%
        display: grid
        place-items: center
    &__card.order__card_active &__card-info 
        padding-left: 15px
    &__card.order__card_active &__card-text 
        opacity: 1
        user-select: auto
        position: static
    .swiper-button-next, .swiper-button-prev 
        color: $c-black
        width: 17px
        height: 30px
    & .swiper-slide 
        display: grid
        place-items: center
    & .swiper-photo
        width: 45%
        height: 100%
        object-fit: cover

.bg-modal
    background-color: rgba(0, 0, 0, 0.5)
    width: 100%
    height: 100%
    position: fixed 
    z-index: 999
    top: 0
    left: 0
    display: grid 
    place-items: center
    user-select: none
    pointer-events: none
    opacity: 0
    transition: all .3s ease
    &.bg-modal_active 
        user-select: auto
        pointer-events: auto 
        opacity: 1
.modal-tabs
    position: relative
    display: grid 
    place-items: center
    background-color: $c-accent
    border-radius: 0 0 30px 0
    max-width: 405px
    width: 100%
    &__header
        height: 41px
        width: 100%
        display: grid 
        grid-template-columns: 110px 114px 181px
        margin-bottom: 40px
    
    &__tab 
        cursor: pointer
        height: 100%
        background-color: rgba(255, 255, 255, 0.15)
        border: none 
        width: 100%
        +text($fs-18, $c-accent, $ff-gilroy-l)
        transition: all .3s ease
        &:hover 
            background-color: rgba(255, 255, 255, 0.20)
        &.modal-tabs__tab_active:hover 
            background-color: #4C6062
        &_active 
            color: $c-white
            background-color: $c-accent
    &__body 
        width: 100%
        position: relative
    &__name
        +text($fs-18, rgba(255, 255, 255, 0.15), $ff-gilroy-l)
        text-align: center
        margin-bottom: 20px
    &__box
        +flex(center,center,row)
    &__box-count
        +text(16px, $c-white, $ff-gilroy-l)
        max-width: 25px
        width: 100%
        background-color: transparent 
        border: none
        outline: none
        appearance: none
        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
            appearance: none
    &__box-counter 
        max-width: 100px 
        width: 100%
        border: 1px solid $c-white
        padding-left: 10px
        +flex(space-between,center,row)
    &__box-btns 
        +flex(center,center,row)
    &__box-btn 
        background-color: $c-white
        font-size: 22px
        color: $c-accent
        cursor: pointer
        font-weight: bold
        border: none
        height: 26px
        width: 26px
        &:first-child
            margin-right: 2px
    &__form 
        opacity: 0
        display: none
        transition: all .3s ease
        &_active 
            opacity: 1
            display: block
    &__btn 
        +btn-light
        padding: 10px 0
        font-size: $fs-18
        width: 100%
        outline: none
        position: relative
        z-index: 0
        transition: all .3s ease
        margin-top: 40px
        &::after
            content: ''
            position: absolute 
            left: 0
            top: 0
            background-color: $c-white
            height: 100%
            width: 0
            transition: all .3s ease
            border-radius: 0px 0px 30px 0px
            z-index: -1
        &:hover::after
            width: 100%
        &:hover 
            color: $c-black
.form 
    &__inputs 
        width: 100%
        padding: 0 45px
    &__inputs:not(:last-child) 
        margin-bottom: 10px
    &__input, .form__input-label
        @media (max-width: 564px)
            font-size: 18px
    &__btn 
        margin-top: 25px
    &__input-error
        @media (max-width: 564px)
            font-size: 14px

    
@media (max-width: 992px)
    .steps__item.steps__item_active .steps__item-body
        max-height: 926px
        grid-template-columns: 1fr
        
