@import 'vars'
@import 'mixins'

.main 
    background-image: url('../../images/bg-first-screen.webp') 
    background-repeat: no-repeat
    background-position: top
    background-size: cover
    max-width: 100vw
    width: 100%
    margin: 0 auto
    height: 100vh
    padding-top: 81px 
    &__content 
        +flex(flex-start, flex-start, column)
        padding-top: 6%
        @media (max-width: 564px)
            height: 100%
            justify-content: center
            padding-bottom: 200px
            align-items: center
    &__title 
        font-size: $fs-64
        color: $c-white
        max-width: 700px
        width: 100%
        transition: all 1s ease
        @media (max-width: 768px) 
            font-size: $fs-48
            margin-top: 80px
        @media (max-width: 564px) 
            font-size: $fs-36
            text-align: center
        @media (max-width: 400px) 
            font-size: $fs-28
    &__btn
        +btn-dark
        font-size: $fs-22
        padding: 10px 47px
        color: $c-white
        margin-top: 35px
        position: relative
        transition: all 1s ease
        z-index: 1
        &:hover
            color: $c-accent
        &:hover::after 
            width: 100%
        &::after 
            content: ''
            position: absolute
            z-index: -1
            bottom: 0
            left: 0
            background-color: $c-white
            height: 100%
            width: 0 
            transition: all .3s ease
            border-radius: 0 0 30px 0
        @media (max-width: 564px) 
            font-size: $fs-18
.about-us
    &__row
        width: 100% 
    &__row:first-child
        display: grid 
        grid-template-columns: repeat(2, minmax(450px, 1fr))
        @media (max-width: 992px)
            grid-template-columns: 1fr
    &__row:first-child &__block:first-child 
        display: grid 
        grid-template-columns: 2fr 4fr
        padding-top: 117px
        @media (max-width: 1500px) 
            grid-template-columns: 0fr 4fr
    &__row:first-child &__block:last-child 
        width: 100%
    &__main-info
        width: 100%
    &__title 
        margin-bottom: 37px
        @media (max-width: 1500px)
            margin-left: 15px
    &__descr 
        +text($fs-18, $c-black, $ff-gilroy-l)
    &__row:first-child &__descr-block
        padding: 55px 110px
        background-color: $c-lightgray
        @media (max-width: 576px)
            padding: 60px 20px
    &__row:first-child &__descr-block &__descr:first-child, &__row:last-child &__descr-block &__descr:nth-child(2)
        margin-bottom: 20.75px
    &__photo 
        height: 100%
        width: 100%               
    &__row:first-child &__photo
        border-radius: 0 0 250px 0 
        @media (max-width: 500px)
            border-radius: 0 0 10em 0     
    &__row:last-child &__photo
        border-radius: 230px 0 0 0 
        @media (max-width: 500px)
            border-radius: 10em 0 0 0
    &__row:last-child &__descr-block
        +flex(center, flex-start, column)
        height: 100%
        padding: 55px 110px
        background-color: $c-lightgray
        @media (max-width: 576px)
            padding: 60px 20px
    &__row:last-child
        display: grid 
        grid-template-columns: repeat(2, minmax(450px, 1fr))
        @media (max-width: 992px)
            grid-template-columns: 1fr
    &__row:last-child &__block:first-child
         @media (max-width: 992px)
             order: 2 
    &__row:last-child &__block:last-child 
        display: grid 
        grid-template-columns: 4fr 2fr
        @media (max-width: 1500px) 
            grid-template-columns: 4fr 0fr
    &__logo 
        margin-bottom: 20px
        font-size: $fs-26
        color: $c-accent
        font-family: $ff-lighthaus
.our-works
    margin-top: $m-section
.swiper 
    margin: 0 auto
    width: 100%
    // max-height: 595px
    height: 100%
    padding-bottom: 20px !important
    user-select: none
    &-photo 
        object-fit: cover
        height: 100%
        width: 100%
    &-scrollbar 
        overflow: hidden
        width: 100%
    &-scrollbar-drag
        background-color: $c-accent !important
.steps 
    margin-top: $m-section
    &__accordion
        max-width: 1598px
        margin: 0 auto
        padding: 0 15px
        counter-reset: accordItem
    &__item
        position: relative
        &::after
            content: ''
            position: absolute
            bottom: -20px
            left: 0
            width: 100%
            height: 1px
            background-color: #D8D8D8 
        &:not(:last-child) 
            margin-bottom: 40px
    &__item-header
        height: 70px
        width: 100%
        +flex(space-between, center, row)
        cursor: pointer
        position: relative
        &::after
            counter-increment: accordItem 
            content: counter(accordItem) '.'
            display: grid
            place-items: center
            background-color: transparent
            height: 70px
            width: 50px
            position: absolute
            left: 0
            +text($fs-36, $c-black, $ff-lighthaus)
            @media (max-width: 564px)
                font-size: $fs-26
            
    &__item-name
        +text($fs-28, $c-black, $ff-lighthaus)
        margin-left: 117px
        @media (max-width: 564px)
            font-size: $fs-18
            margin-left: 80px
            margin-right: 10px
    &__item-arrow
        stroke: $c-black
        transition: all .3s ease
        min-height: 25px
        min-width: 25px
    &__item-body 
        display: grid 
        transform: translateY(-20px) 
        opacity: 0
        grid-template-columns: repeat(2, minmax(400px, 1fr))
        grid-gap: 50px
        margin-top: 0px
        transition: all .3s ease
        max-height: 0
        overflow: hidden
    &__item-descr 
        max-width: 633px
        width: 100%
    &__item-text 
        +text($fs-22, $c-black, $ff-gilroy-l)
        @media (max-width: 564px)
            font-size: $fs-18
    &__item-descr &__item-text:not(:last-child) 
        margin-bottom: 20px   
    &__item-photo
        object-fit: cover
        width: 100% 
        border-radius: 10em 0 0 0
        @media (max-width: 500px)
            border-radius: 6em 0 0 0
    &__item.steps__item_active &__item-body
        transform: translateY(0px) 
        max-height: 600px
        opacity: 1
        overflow: visible
        margin-top: 40px
    &__item.steps__item_active &__item-name 
        color: $c-accent
    &__item.steps__item_active &__item-arrow
        stroke: $c-accent
        transform: rotate(45deg)
.consultation 
    margin-top: $m-section
    &__title 
        color: $c-accent
    &__wrapper 
        display: grid 
        grid-template-columns: minmax(400px,500px) minmax(500px, 930px)
        align-items: center
        position: relative
        @media (max-width: 1290px)
            grid-template-columns: minmax(320px, 330px) minmax(500px, 1025px)
        @media (max-width: 992px) 
            grid-template-columns: 1fr
    &__block
        width: 100%
        height: 100%
    &__photo
        object-fit: cover
        max-width: 794px
        width: 100%
        height: 100%
        border-radius: 0px 280px 0px 0px
        position: absolute
        @media (max-width: 1290px)
            max-width: 620px
    &__form-title
        color: $c-white
        font-size: $fs-28
        margin-bottom: 50px
    &__block:last-child
        +flex(center, center, column)
        background-color: $c-accent
        height: 95%
        // min-height: 300px
        padding: 110px 0 110px 290px
        max-width: 930px
        @media (max-width: 992px) 
           max-width: 700px
           min-width: none
           width: 100%
        @media (max-width: 992px) 
            padding: 110px 0 110px 0px
    &__block:first-child 
        @media (max-width: 992px) 
            display: none




@media (max-width: 992px)
    .steps__item.steps__item_active .steps__item-body
        max-height: 926px
        grid-template-columns: 1fr
        
